<%- layout("layouts/boilerplate.ejs") %>
<div class="buy">
    <form action="/listings/<%= id %>/buy" method="post">
        <div class="qrcode">
            <img src="https://i.imgur.com/lUJorCR.jpeg" alt="qrcode">
        </div>
        <div class="productID">
            <input class="product" name="product" type="text" value="<%= id %>">
        </div>
        <div class="name">
            <input class="name" name="name" type="text" placeholder="Enter your Name "required>
        </div>
        <div class="email">
            <input class="email" name="email" type="email" placeholder="Enter your Emaial Id "required>
        </div>
        <div class="ufc-code">
            <input class="ufc-code" name="UFC-code" type="text" placeholder="Paste You UFC Code" required>
        </div>
        <button type="submit" class="submit-form">Send</button>
    </form>
</div>