<%- layout("layouts/boilerplate.ejs") %>
<section id="contact">
    <div class="contact">
        <div class="contact-left">
            <h1 class="contact-head">Contact Me</h1>
            <h3 class="contact-query">Hey Contact Me For Any Query</h3>
            <p class="contact-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat maxime cupiditate id explicabo quam ab aspernatur voluptate et porro iusto? Porro nemo quae dicta delectus rerum doloremque aut laborum sequi.</p>
            <div class="email">Email :<i class='bx bx-envelope' style='color:cyan'  ></i><a href="mailto:abcd@gmail.com"> abcd@gmail.com</a></div>
            <div class="phone">Ph-no :<i class='bx bx-phone-call' style='color:#bb2f2f' ></i><a href="callto:1234567890">1234567890</a></div>
        </div>
        <div class="contact-right">
            <form action="https://formsubmit.co/abcd@gmail.com" method="post">
                <div class="fullname">
                    <input class="fullnames" name="name" type="text" placeholder="Enter your Name" required>
                </div>
                <div class="emailid">
                    <input class="emailids" name="email" type="email" placeholder="Enter your Emaial ID" required="abcd@gmail.com">
                </div>
                <div class="subject">
                    <input class="subjects" name="subject" type="text" placeholder="Ask Something" required>
                </div>
                <div >
                    <button type="submit" class="submit-form">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>