<%- layout("layouts/boilerplate.ejs") %>
<div class="home" id="home">
    <div class="left-home">
        <h4>Trade-in-offer</h4>
        <h1>Super value deals</h1>
        <h1 class="msg">On all luxury Beer</h1>
        <p class="save">Save more up to 20% off on Beer</p>
        <button class="shop"><a href="/listings">See More</a></button>
    </div>
    <div class="right-home"></div>
</div>